<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="TimeOut" value="30" />
  </appSettings>
  <connectionStrings>
    <!--<add name="CadenaConexion" connectionString="Data Source=localhost\LOCALDB;Initial Catalog=_ROOT_SYSTEM;User ID=sa4;Password=.Herlem_1984;" />-->
    <add name="CadenaConexion" connectionString="Server=localhost\LOCALDB;Database=_ROOT_SYSTEM;Trusted_Connection=True;" />
  </connectionStrings>
  <system.web>
	<globalization culture="en-US" uiCulture="en-US" /><!-- SUPER IMPORTANTE para conversiones sin error de decimales en parametros SQL-->
    <httpRuntime maxRequestLength="100000" executionTimeout="500000" />
    <sessionState timeout="120" />
    <compilation targetFramework="4.0" debug="true" />
    <customErrors mode="Off" />
     <trust level="Full" originUrl="" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <staticContent>
      <remove fileExtension=".apk" />
      <mimeMap fileExtension=".apk" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".ipa" mimeType="application/octet-stream" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>

</configuration>
<!--ProjectGuid: 784E08E4-C01E-4E19-BF17-4887307D9BCA-->